* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header Title Style */
.header {
  background-color: rgb(18, 18, 170);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-img {
  margin-top: 10px;
}
.logo-title {
  text-align: center;
  width: 300px;
  margin: 15px 0;
  font-size: 25px;
}
/* Navbar Style */
.mobile-nav-bar {
  display: none;
}
.mobile-menu {
  display: none;
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(42, 39, 39);
  height: 70px;
}
.list-items {
  list-style: none;
  display: flex;
}
.list-items li {
  z-index: 3;
  margin-left: 25px;
}
.list-items a {
  text-decoration: none;
  color: white;
}
.nestedList {
  padding: 0 20px 0 0;
  list-style: none;
  background-color: rgb(42, 39, 39);
  line-height: 2;
  position: absolute;
  display: none;
  margin-left: -10px;
}
.list:hover .nestedList {
  display: block;
}
.search-bar {
  width: 100%;
  margin-right: 20px;
  height: 100%;
  background-color: rgb(42, 39, 39);
  color: white;
  border: 1px solid white;
  outline: none;
  font-size: 20px;
  padding: 0 20px;
  display: none;
  animation: searchBarShown 0.5s ease-in;
}
.search {
  margin-right: 30px;
  cursor: pointer;
  animation: searchBarShown 0.2s ease-in;
}
.close {
  display: none;
  margin-right: 30px;
  cursor: pointer;
  animation: searchBarShown 0.2s ease-in;
}
@keyframes searchBarShown {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Search Book - Style */
.container {
  background-image: url(image/library.jpg);
  height: 400px;
  display: grid;
  place-items: center;
}
.card {
  background-color: white;
  width: 600px;
  height: 230px;
}
.search-title {
  padding: 30px 50px 20px 50px;
}
.search-book {
  display: flex;
  margin-left: 50px;
}
.keyword {
  background-color: rgb(42, 39, 39);
  color: white;
  width: 140px;
  height: 35px;
  padding: 10px;
  cursor: pointer;
}
.keyword-list {
  position: absolute;
  list-style: none;
  background-color: rgb(42, 39, 39);
  width: 140px;
  padding: 10px;
  font-size: 18px;
  margin-top: 35px;
  display: none;
  z-index: 3;
}
.keyword-list li {
  margin-bottom: 5px;
  color: white;
  cursor: pointer;
}
.keyword img {
  margin-left: 40px;
}
.active {
  transition: all 0.1s;
  transform: rotate(180deg);
}
.showList {
  transition: 0.3s;
  display: block;
}
.book-name {
  width: 250px;
  border: 1px solid black;
  outline: none;
  padding-left: 16px;
}
.btn {
  width: 100px;
  border: none;
  outline: none;
  background-color: lightblue;
  cursor: pointer;
  margin-left: 20px;
}
.library-icon {
  padding: 40px 45px;
  display: flex;
  justify-content: space-between;
}
.library-icon a {
  text-decoration: none;
  color: black;
  padding-left: 5px;
}
.library-icon img {
  position: relative;
  top: 3px;
}
/* Event Style */
.event-content {
  display: grid;
  place-items: center;
  margin: 50px 0;
}
.event-title {
  margin-right: 32rem;
}
.event-details {
  margin-top: 20px;
  display: flex;
  gap: 30px;
}
.event-btn {
  width: 90px;
  height: 35px;
  font-size: 10px;
  border-radius: 0%;
  border: 1px solid lightblue;
  outline: none;
  background-color: lightblue;
  cursor: pointer;
  margin-top: 20px;
}
/* Streaming Content Style */
.stream-content {
  color: rgb(18, 18, 170);
  background-color: lightblue;
  width: 100%;
  height: 230px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  gap: 80px;
  align-items: center;
}
.left-arr {
  display: none;
}
.right-arr {
  display: none;
}
.stream-para {
  margin-top: 10px;
  width: 10rem;
}
.stream-icons {
  display: flex;
  gap: 30px;
}
.stream-icon {
  background-color: rgb(18, 18, 170);
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.stream-title {
  width: 10rem;
}
.stream-icon a {
  text-decoration: none;
  color: rgb(18, 18, 170);
}
.stream-icon:nth-child(1) img {
  position: relative;
  left: 22px;
  top: 15px;
}
.stream-icon:nth-child(1) p {
  position: relative;
  top: 35px;
}
.stream-icon:nth-child(2) img {
  position: relative;
  right: 28px;
  bottom: 35px;
}
.stream-icon:nth-child(2) p {
  position: relative;
  bottom: 4.3rem;
  right: 12px;
}
.stream-icon:nth-child(3) img {
  position: relative;
  right: 30px;
  bottom: 35px;
}
.stream-icon:nth-child(3) p {
  position: relative;
  left: 10px;
  bottom: 78px;
}
.stream-icon:nth-child(4) img {
  position: relative;
  right: 15px;
  bottom: 20px;
}
.stream-icon:nth-child(4) p {
  position: relative;
  left: 15px;
  bottom: 35px;
}
.stream-icon:nth-child(5) img {
  position: relative;
  left: 17px;
  top: 17px;
}
.stream-icon:nth-child(5) p {
  position: relative;
  top: 33px;
  right: 10px;
  width: 90px;
}
/* Book Collection Style */
.book-collection {
  background-color: rgb(18, 18, 170);
  width: 100%;
  height: 550px;
  margin-bottom: 50px;
  color: white;
}
.collection-txt {
  display: flex;
  justify-content: center;
  gap: 400px;
  padding-top: 50px;
}
.txt-title {
  position: relative;
  top: 5px;
}
.txt-para {
  display: none;
}
.txt-para img {
  position: relative;
  top: 5px;
}
.arrow-img {
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 10px;
}
.book-card {
  margin-top: 30px;
  display: flex;
  gap: 50px;
  justify-content: center;
  color: black;
  font-size: 12px;
}
.book-card img {
  width: 150px;
}
.book-card h4 {
  margin: 20px 15px 10px 15px;
}
.book-card p {
  margin: 0 15px;
  line-height: 1.8;
  font-size: 10px;
}
.cardOne {
  width: 150px;
  height: 350px;
  background-color: white;
  transition: all 0.3s;
  cursor: pointer;
}
.cardTwo {
  width: 150px;
  height: 350px;
  background-color: white;
  transition: all 0.3s;
  cursor: pointer;
}
.cardThree {
  width: 150px;
  height: 350px;
  background-color: white;
  transition: all 0.3s;
  cursor: pointer;
}
.cardFour {
  width: 150px;
  height: 350px;
  background-color: white;
  transition: all 0.3s;
  cursor: pointer;
}
/* Contact Details Style */
.footer {
  background-color: rgb(58, 56, 56);
  width: 100%;
  height: 250px;
  color: white;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.footer-img {
  display: flex;
  flex-direction: column;
}
.footer-img img {
  margin: auto;
}
.footer-txt {
  text-align: center;
  width: 250px;
}
.contact-details {
  font-size: 23px;
}
.links img {
  margin-right: 10px;
}
.privacy-policy {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.policy a {
  text-decoration: none;
  color: white;
}
.links a:nth-child(4) {
  position: relative;
  top: 8px;
}
/* Responsive Style */
@media (max-width: 1060px) {
  /* Navbar Style */
  .nav-bar {
    display: none;
  }
  .mobile-nav-bar {
    display: block;
    background-color: rgb(42, 39, 39);
    height: 50px;
    display: flex;
    justify-content: space-between;
  }
  .menu-item .menu {
    margin: 15px 15px 15px 30px;
    cursor: pointer;
    animation: shown 0.5s ease;
  }
  .closeMenu {
    animation: shown 0.5s ease;
    display: none;
    cursor: pointer;
    margin: 15px 15px 15px 30px;
  }
  .mobile-search-bar {
    width: 100%;
    background-color: rgb(42, 39, 39);
    color: white;
    border: 1px solid white;
    outline: none;
    margin-right: 30px;
    padding: 0 20px;
    display: none;
    animation: shown 0.7s ease;
  }
  .search-icon {
    margin-right: 30px;
    cursor: pointer;
  }
  .mobile-search {
    position: relative;
    top: 13px;
    animation: shown 0.5s ease;
  }
  .mobile-close {
    display: none;
    position: relative;
    width: 20px;
    height: 20px;
    top: 15px;
    animation: shown 0.5s ease;
  }
  .mobile-menu {
    display: none;
    background-color: rgb(42, 39, 39);
    padding: 20px 0 0 30px;
    list-style: none;
  }
  .mobile-menu li {
    animation: shown 1.5s ease-in;
    padding-bottom: 10px;
  }
  .mobile-menu a {
    color: white;
    text-decoration: none;
  }
  .nestedList {
    position: relative;
    margin-left: 0;
    padding-top: 10px;
    line-height: normal;
    transition: all 0.5s ease;
    animation: shown 0.7s ease;
  }
  @keyframes shown {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
@media (max-width: 893px) {
  .contact-details {
    font-size: 18px;
  }
}
@media (max-width: 830px) {
  .stream-content {
    gap: 30px;
  }
}
@media (max-width: 780px) {
  .stream-content {
    gap: 0;
  }
  .collection-txt {
    gap: 330px;
  }
  .book-card {
    gap: 30px;
  }
}
@media (max-width: 750px) {
  .stream-icons {
    width: 300px;
    height: 100px;
    overflow: hidden;
  }
  .stream-icon {
    transition: all 0.2s;
  }
  .left-arr {
    margin-right: 15px;
    display: block;
    cursor: pointer;
    visibility: hidden;
    transition: all 0.25s;
  }
  .right-arr {
    margin-left: 15px;
    cursor: pointer;
    display: block;
    transition: all 0.25s;
  }
}
@media (max-width: 720px) {
  .event-title {
    margin-right: 30rem;
  }
  .event-details {
    gap: 10px;
  }
  .book-card {
    gap: 20px;
  }
}
@media (max-width: 701px) {
  .event-para {
    font-size: 13px;
  }
  .event-title {
    margin-right: 24.5rem;
  }
  .event-img {
    width: 350px;
    height: 350px;
  }
}
@media (max-width: 680px) {
  .collection-txt {
    gap: 150px;
  }
  .txt-para {
    display: block;
  }
  .book {
    display: grid;
    place-items: center;
  }
  .book-card {
    overflow: hidden;
    width: 340px;
    justify-content: normal;
  }
}
@media (max-width: 621px) {
  .card {
    width: 500px;
    height: 200px;
  }
  .search-title {
    padding: 20px 40px 10px 20px;
  }
  .search-book {
    margin-top: 10px;
    margin-left: 20px;
  }
  .keyword-list {
    width: 133px;
  }
  .keyword img {
    margin-left: 30px;
  }
  .btn {
    width: 90px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .library-icon {
    margin-left: 10px;
  }
  .footer-content {
    padding: 35px 0;
  }
  .footer-txt {
    font-size: 20px;
    width: 200px;
  }
  .contact-details {
    font-size: 15px;
  }
}
@media (max-width: 600px) {
  .event-img {
    width: 300px;
    height: 300px;
  }
  .event-para {
    font-size: 12px;
  }
  .event-title {
    margin-right: 21rem;
  }
  .event-btn {
    margin-top: 0;
  }
  .stream-icons {
    font-size: 12px;
  }
}
@media (max-width: 545px) {
  .event-img {
    width: 250px;
  }
  .event-title {
    margin-right: 0;
  }
  .stream-content {
    position: relative;
  }
  .stream-text {
    position: absolute;
    top: 0;
    margin-top: 20px;
  }
  .stream-title {
    width: 20rem;
    display: grid;
    place-items: center;
  }
  .stream-para {
    margin-top: 0;
    width: 21rem;
    text-align: center;
  }
  .stream-para img {
    display: none;
  }
  .stream-icons {
    margin-top: 50px;
  }
  .left-arr {
    margin-top: 30px;
  }
  .right-arr {
    margin-top: 30px;
  }
  .footer {
    height: 350px;
  }
  .footer-content {
    flex-wrap: wrap;
  }
  .contact-details {
    font-size: 20px;
    margin-right: 50px;
  }
  .links {
    margin-top: 20px;
    margin-left: 50px;
  }
}
@media (max-width: 520px) {
  .card {
    width: 400px;
    height: 180px;
  }
  .keyword img {
    margin-left: 10px;
  }
  .keyword-list {
    width: 108px;
    font-size: 15px;
  }
  .library-icon {
    font-size: 12px;
    padding: 0 25px;
  }
  .event-img {
    width: 220px;
  }
  .collection-txt {
    padding: 50px 10px 0 10px;
    gap: 0;
    justify-content: space-between;
  }
}
@media (max-width: 465px) {
  .contact-details {
    margin-top: 20px;
    font-size: 18px;
  }
}
@media (max-width: 450px) {
  .event-img {
    width: 200px;
  }
  .footer-content {
    display: grid;
    grid-template-columns: auto auto;
  }
  .links {
    margin-left: 0;
    position: relative;
    left: 50px;
  }
}
@media (max-width: 435px) {
  .card {
    width: 300px;
    height: 150px;
  }
  .search-title {
    font-size: 15px;
    padding: 15px;
  }
  .search-book {
    margin-left: 15px;
  }
  .keyword {
    width: 90px;
    font-size: 10px;
    height: 30px;
  }
  .keyword img {
    width: 10px;
    height: 10px;
    position: relative;
    left: 10px;
  }
  .keyword-list {
    width: 90px;
    font-size: 10px;
    margin-top: 30px;
  }
  .book-name {
    width: 120px;
  }
  .btn {
    font-size: 10px;
    width: 60px;
    margin-left: 5px;
  }
  .library-icon {
    padding: 0 15px;
    font-size: 10px;
  }
  .library-icon img {
    width: 15px;
    height: 15px;
  }
  .event-para {
    font-size: 10px;
  }
  .contact-details {
    font-size: 15px;
  }
}
@media (max-width: 405px) {
  .contact-details {
    font-size: 12px;
  }
}
@media (max-width: 400px) {
  .event-para {
    font-size: 8px;
  }
  .event-img {
    width: 180px;
    height: 180px;
  }
  .left-arr {
    margin-right: 0;
  }
  .right-arr {
    margin-left: 0;
  }
}
@media (max-width: 370px) {
  .txt-title {
    top: 8px;
    font-size: 13px;
  }
  .txt-para {
    font-size: 13px;
  }
  .footer-img img {
    width: 80px;
    height: 80px;
  }
  .footer-txt {
    font-size: 18px;
  }
  .contact-details {
    font-size: 10px;
  }
}
